* {
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

@media (max-width: 910px) {
  h1 {
    font-size: 25px;
    padding-top: 10px;
  }
}

.special {
  background: linear-gradient(to bottom right, #e96443, #904e95);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code-box {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  width: 75vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.808);
}

.code-box-top {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.code-box-heading {
  font-weight: 600;
  font-size: 23px;
  display: inline;
}

.code-box-window-button--1 {
  color: #ffe056;
}

.code-box-window-button--2 {
  color: #92ff60;
}

.code-box-window-button--3 {
  color: #ff2c4f;
}

.code-box-content {
  width: 75vw;
  height: auto;
  height: calc(65vh - 80px - 16px);
  max-height: 80vh;
  overflow-y: scroll;
  animation-name: expandText;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.code-box-content p {
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
}

.code-box-content p .green {
  color: #a8ff56;
  font: inherit;
}

.code-box-content p .yellow {
  color: #fffc56;
  font: inherit;
}

.code-box-content p .hoverable {
  position: relative;
}

.code-box-content p .hoverData {
  position: absolute;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  background: url("../assets/ld/ld.gif"), linear-gradient(to bottom right, #e96443, #904e95);
  background-position: center;
  background-size: contain;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
  animation-name: expandHoverData;
  animation-iteration-count: 1;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.code-box-content p a {
  font: inherit;
  font-weight: 500;
  color: white;
}

.code-box-content p a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}

.code-box-content p a:active, .code-box-content p a:visited {
  color: white;
}

.code-box-content p i {
  font: inherit;
  color: white;
}

.code-box-content::-webkit-scrollbar {
  width: 1em;
}

.code-box-content::-webkit-scrollbar-track-piece {
  visibility: hidden;
  opacity: 0;
}

.code-box-content::-webkit-scrollbar-track {
  visibility: hidden;
  opacity: 0;
}

.code-box-content::-webkit-scrollbar-thumb {
  background: linear-gradient(#e96443, #904e95);
  border-radius: 100px;
}

.code-box-content::-webkit-scrollbar-corner {
  visibility: hidden;
  opacity: 0;
}

.code-box-content::selection {
  background-color: white;
  color: black;
  caret-color: #a8ff56;
}

.code-box #command-text {
  padding-top: 20px;
  display: flex;
  align-items: stretch;
  width: inherit;
}

.code-box #command-text label {
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
  margin-right: 20px;
}

.code-box #command-text input[type="text"] {
  flex-grow: 1;
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 20px;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
}

.code-box #command-text input[type="text"]:enabled, .code-box #command-text input[type="text"]:active, .code-box #command-text input[type="text"]:placeholder-shown {
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
  font-size: 16px;
  border: none;
  color: white;
  outline: none;
  background: transparent;
}

.code-box #command-text button {
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
}

.code-box #command-text button:hover, .code-box #command-text button:active {
  border: none;
}

.code-box #command-text button i {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

@keyframes expandText {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: calc(70vh - 80px - 16px);
    overflow-y: scroll;
  }
}

@keyframes expandHoverData {
  0% {
    height: 10rem;
    width: 0;
  }
  100% {
    height: 10rem;
    width: 10rem;
  }
}

@keyframes collapseHoverData {
  0% {
    height: 10rem;
    width: 10rem;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 10rem;
    opacity: 0;
  }
}

@keyframes expandWindow {
  0% {
    height: auto;
  }
  100% {
    height: 70vh;
  }
}

@media (max-width: 910px) {
  .code-box {
    padding: 15px;
    border-radius: 10px;
  }
  .code-box-top {
    padding-bottom: 15px;
  }
  .code-box-heading {
    font-weight: 500;
    font-size: 20px;
    display: inline;
  }
  .code-box-content {
    height: calc(67vh - 80px - 16px);
    max-height: 80vh;
  }
  .code-box-content p {
    line-height: 20px;
    font-size: 14px;
  }
  .code-box-content::-webkit-scrollbar {
    width: 0.6em;
  }
  .code-box #command-text {
    padding-top: 15px;
  }
  .code-box #command-text label {
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    flex-shrink: 1;
  }
  .code-box #command-text input[type="text"] {
    margin-right: 15px;
    font-size: 14px;
  }
  .code-box #command-text input[type="text"]:enabled, .code-box #command-text input[type="text"]:active, .code-box #command-text input[type="text"]:placeholder-shown {
    font-size: 14px;
  }
}

.social-icons {
  position: static;
  margin: 10px;
  animation: opacity cubic-bezier(0.87, 0.02, 0.49, 1.6) 0.7s;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, auto);
}

.social-icons-items {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  cursor: pointer;
}

.social-icons-items:hover {
  transform: translateY(-5px);
}

@media (max-width: 580px) {
  .social-icons {
    grid-template-columns: repeat(4, auto);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  position: absolute;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-text {
  margin-top: 20px;
  max-width: 200px;
  text-align: center;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #e96443, #904e95);
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.projects {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project:not(:first-child) {
  display: none;
}

.project-text {
  width: 50%;
  height: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
}

.project-text::-webkit-scrollbar {
  width: 1em;
}

.project-text::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100px;
}

.project-text::-webkit-scrollbar-track-piece {
  background-color: black;
  border-radius: 100px;
}

.project-text::-webkit-scrollbar-thumb {
  background: linear-gradient(#e96443, #904e95);
  border-radius: 100px;
}

.project-text::-webkit-scrollbar-corner {
  visibility: hidden;
}

.project-text--heading {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  font-weight: 400;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-text--heading .bx {
  font-size: 2rem;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.377);
  cursor: pointer;
}

.project-text--heading .bx:hover {
  color: white;
}

.project-text--content {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  letter-spacing: 0.03rem;
  color: rgba(255, 255, 255, 0.788);
}

.project-text--sub_heading {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 10px;
}

.project-text--highlight {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.04rem;
  color: white;
}

.project-text--buttons {
  display: flex;
  flex-direction: row;
  margin: 20px 0 30px;
}

.project-text--buttons_item {
  background-color: black;
  border: none;
  padding: 10px;
  color: white;
  font-family: "Source Code Pro", monospace;
  vertical-align: middle;
  border-radius: 10px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.808);
}

.project-text--buttons_item .bx {
  font-size: 24px;
  color: inherit;
  padding-right: 10px;
}

.project-text--buttons_item:not(:last-child) {
  margin-right: 20px;
}

.project-visual {
  background-image: url(../assets/ld/ld.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
}

.project-visual--image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.808);
  transition: all 0.3s ease-in-out;
}

.project-visual--image:hover {
  transform: scale(0.98);
  border-radius: 15px;
  box-shadow: none;
}

.project-visual--image:hover .effect-1,
.project-visual--image:hover .effect-2 {
  display: black;
}

@keyframes rotate {
  0% {
    top: 0;
    left: 2%;
  }
  25% {
    top: 2%;
    left: 0%;
  }
  50% {
    top: 4%;
    left: 2%;
  }
  75% {
    top: 2%;
    left: 4%;
  }
  100% {
    top: 0;
    left: 2%;
  }
}

@media (min-height: 1200px) {
  .project {
    align-items: flex-start;
  }
  .project-visual {
    height: 900px;
  }
}

@media (max-width: 1190px) {
  .project-text::-webkit-scrollbar {
    width: 0.7em;
  }
  .project-text--heading {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .project {
    width: 100%;
    display: block;
    padding: 0;
    overflow-y: visible;
    position: relative;
  }
  .project-text {
    margin: 0;
    margin-bottom: 10px;
    padding: 20px 60px;
    width: initial;
    height: auto;
  }
  .project-visual {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    margin: 60px 0 20px;
  }
}

@media (max-width: 450px) {
  .project-text {
    padding: 20px 30px;
  }
}

:root {
  --animation-player: menuFocus;
}

.menu {
  z-index: 1;
  position: absolute;
  right: 80px;
  top: 40px;
  display: flex;
  flex-direction: row;
}

.menu-item {
  border: none;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-item:visited, .menu-item:active {
  border: none;
}

.menu-item[data-active="true"] {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.808);
}

.menu-item[data-active="true"] .bx {
  color: white;
}

.menu-item[data-active="false"] .bx {
  color: rgba(255, 255, 255, 0.377);
}

.menu-item--back {
  position: absolute;
  left: 50px;
  top: 50px;
  color: rgba(255, 255, 255, 0.377);
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
  border: solid 1px rgba(255, 255, 255, 0.377);
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
  z-index: 1;
}

.menu-item--back .bx {
  font-size: 24px;
  color: inherit;
  padding-right: 10px;
}

.menu-item--back:hover {
  color: white;
  border: solid 1px transparent;
  opacity: 1;
}

.menu-item--left {
  margin-right: 20px;
}

.menu-item--right {
  position: relative;
}

.menu-item--right::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-color: transparent;
  border-radius: 100%;
  animation-name: var(--animation-player, none);
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes menuFocus {
  0% {
    height: 20px;
    width: 20px;
    opacity: 1;
    border: solid 4px white;
  }
  100% {
    height: 100px;
    width: 100px;
    opacity: 0;
    border: solid 0 white;
  }
}

@media (max-width: 1190px) {
  .menu {
    right: 30px;
    top: 30px;
  }
  .menu-item[data-active="true"] {
    box-shadow: none;
  }
  .menu-item[data-active="true"] .bx {
    color: white;
  }
  .menu-item--back {
    left: 30px;
    top: 35px;
  }
}

.project-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: black;
  padding: 20px 30px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}

.project-info--welcome {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  font-weight: 400;
  vertical-align: middle;
}

.project-info--content {
  padding: 20px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  letter-spacing: 0.03rem;
}

.project-info--exit-info {
  color: white;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: 0.03rem;
  border: solid 1px white;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-info--exit-info:visited, .project-info--exit-info:active {
  border: none;
}

.project-info--exit-info .bx {
  font-size: 24px;
  color: inherit;
  padding-right: 10px;
  color: #a8ff56;
}

.project-info::after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.project-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  width: 100vw;
}

.project-category__card {
  padding: 20px;
  height: 300px;
  width: 300px;
  position: relative;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  animation-duration: 0.7s;
}

.project-category__card:not(:last-child) {
  margin-right: 40px;
}

.project-category__card--link {
  font-size: 30px;
  position: absolute;
  right: -10px;
  top: 10px;
  opacity: 0;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.7s cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.project-category__card--link i {
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.671);
}

.project-category__card--image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.788);
  margin-bottom: 10px;
  transition: all 0.7s cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.project-category__card--image:hover {
  transform: translate3d(100, 2000, 300);
}

.project-category__card--desc {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.project-category__card--desc-number {
  height: 30px;
  width: 30px;
  padding: 15px;
  border-radius: 15px;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.project-category__card--desc-number h3 {
  color: black;
  font-size: 24px;
  vertical-align: middle;
}

.project-category__card::after {
  content: "";
  height: 90%;
  width: 90%;
  opacity: 0.4;
  background: linear-gradient(to right top, black, transparent);
  border-radius: 25px;
  position: absolute;
  bottom: -0.5em;
  right: -0.5em;
  z-index: -1;
  contain: strict;
  transition: all 0.7s cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.project-category__card:hover .project-category__card--link {
  top: 30px;
  right: 30px;
  opacity: 1;
}

.project-category__card:hover .project-category__card--image {
  transform: translate3d(10, 2000, 30);
}

.project-category__card:hover::after {
  opacity: 1;
  height: 100%;
  background-color: black;
  width: 100%;
  bottom: 0;
  right: 0;
}

.project-item {
  padding: 40px;
  width: 85%;
  max-width: 1300px;
  height: 80%;
  max-height: 700px;
  margin: 0 20px;
  display: flex;
  font-size: 19px;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right top, #194189 0%, #3b4980 25%, #8738a7 100%);
  border-radius: 30px;
  transition: all 1s ease-in-out;
  backdrop-filter: blur(40px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.project-item--category {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 20px;
}

.project-item--content {
  padding-right: 40px;
  width: 45%;
  vertical-align: middle;
}

.project-item--content-title {
  transform: translateZ(500px);
  font-size: 80px;
  line-height: 1.1;
}

.project-item--content-title span.headline {
  display: block;
  color: #c48cfc;
}

.project-item--content-desc {
  padding-top: 30px;
  letter-spacing: 0.75px;
  font-size: 19px;
}

.project-item--content-desc i {
  padding: 0;
  margin: 0;
}

.project-item--image {
  position: absolute;
  width: 70%;
  right: -15%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  z-index: -5;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
}

.project-item--link-list {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.project-item--link-list-item {
  border: solid 2px white;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  backdrop-filter: blur(20px);
  vertical-align: middle;
}

.project-item--link-list-item:not(:last-child) {
  margin-right: 20px;
}

.project-item:hover .project-item--image {
  transform: translateX(-5%) scale(1.01);
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
}

.project-item[data-small="true"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item[data-small="true"]:not(:last-child) {
  margin-right: 20px;
}

.project-item[data-small="true"] .project-item--category {
  align-self: flex-start;
  left: auto;
}

.project-item[data-small="true"] .project-item--content {
  padding-right: 0;
  text-align: center;
  width: 100%;
}

.project-item[data-small="true"] .project-item--content-title span {
  text-align: center;
}

.project-item[data-small="true"] .project-item--image {
  position: absolute;
  width: 80%;
  height: auto;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(5px -5px 15px rgba(0, 0, 0, 0.2));
}

.project-item[data-small="true"]:hover .project-item--image {
  transform: translate(-50%, -12%) scale(1.05);
}

.project-item[data-right="true"] {
  justify-content: flex-end;
}

.project-item[data-right="true"] .project-item--content {
  padding-right: 0;
}

.project-item[data-right="true"] .project-item--image {
  left: -15%;
  filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.2));
}

.project-item[data-right="true"]--link-list {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.project-item[data-right="true"]--link-list-item {
  border: solid 2px white;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  z-index: 10;
  backdrop-filter: blur(20px);
}

.project-item[data-right="true"]--link-list-item:not(:last-child) {
  margin-right: 20px;
}

.project-item[data-right="true"] .project-item--link-list {
  position: absolute;
  bottom: 40px;
  color: white;
  z-index: 1;
  display: flex;
}

.project-item[data-right="true"] .project-item--link-list-item {
  border: solid 2px white;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  z-index: 10;
  backdrop-filter: blur(20px);
}

.project-item[data-right="true"] .project-item--link-list-item:not(:last-child) {
  margin-right: 20px;
}

.project-item[data-right="true"]:hover .project-item--image {
  transform: translateX(5%) scale(1.01);
}

.noSelect {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
  justify-content: space-around;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-repeat: no-repeat;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 1em;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100px;
}

html::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-track-piece {
  background-color: black;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#e96443, #904e95);
  border-radius: 100px;
}

html::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:visited {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::selection {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (max-width: 910px) {
  body,
  html {
    overflow-y: auto;
  }
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    width: 0.5em;
  }
  body::-webkit-scrollbar-track,
  html::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }
  body::-webkit-scrollbar-track-piece,
  html::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 100px;
  }
}

.test {
  height: 200px;
  width: 200px;
  background-color: red;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.test-child {
  transform: translateZ(40px);
  height: 100px;
  width: 100px;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */