* {
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

@media (max-width: 910px) {
  h1 {
    font-size: 25px;
    padding-top: 10px;
  }
}

.special {
  background: linear-gradient(to bottom right, #e96443, #904e95);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code-box {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  width: 75vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.808);
}

.code-box-top {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.code-box-heading {
  font-weight: 600;
  font-size: 23px;
  display: inline;
}

.code-box-window-button--1 {
  color: #ffe056;
}

.code-box-window-button--2 {
  color: #92ff60;
}

.code-box-window-button--3 {
  color: #ff2c4f;
}

.code-box-content {
  width: 75vw;
  height: auto;
  height: calc(65vh - 80px - 16px);
  max-height: 80vh;
  overflow-y: scroll;
  animation-name: expandText;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.code-box-content p {
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
}

.code-box-content p .green {
  color: #a8ff56;
  font: inherit;
}

.code-box-content p .yellow {
  color: #fffc56;
  font: inherit;
}

.code-box-content p .hoverable {
  position: relative;
}

.code-box-content p .hoverData {
  position: absolute;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  background: url("../assets/ld/ld.gif"), linear-gradient(to bottom right, #e96443, #904e95);
  background-position: center;
  background-size: contain;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
  animation-name: expandHoverData;
  animation-iteration-count: 1;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.87, 0.02, 0.49, 1.6);
}

.code-box-content p a {
  font: inherit;
  font-weight: 500;
  color: white;
}

.code-box-content p a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}

.code-box-content p a:active, .code-box-content p a:visited {
  color: white;
}

.code-box-content p i {
  font: inherit;
  color: white;
}

.code-box-content::-webkit-scrollbar {
  width: 1em;
}

.code-box-content::-webkit-scrollbar-track-piece {
  visibility: hidden;
  opacity: 0;
}

.code-box-content::-webkit-scrollbar-track {
  visibility: hidden;
  opacity: 0;
}

.code-box-content::-webkit-scrollbar-thumb {
  background: linear-gradient(#e96443, #904e95);
  border-radius: 100px;
}

.code-box-content::-webkit-scrollbar-corner {
  visibility: hidden;
  opacity: 0;
}

.code-box-content::selection {
  background-color: white;
  color: black;
  caret-color: #a8ff56;
}

.code-box #command-text {
  padding-top: 20px;
  display: flex;
  align-items: stretch;
  width: inherit;
}

.code-box #command-text label {
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
  margin-right: 20px;
}

.code-box #command-text input[type="text"] {
  flex-grow: 1;
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 20px;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
}

.code-box #command-text input[type="text"]:enabled, .code-box #command-text input[type="text"]:active, .code-box #command-text input[type="text"]:placeholder-shown {
  font-family: "Source Code Pro", monospace;
  line-height: 23px;
  font-size: 16px;
  border: none;
  color: white;
  outline: none;
  background: transparent;
}

.code-box #command-text button {
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
}

.code-box #command-text button:hover, .code-box #command-text button:active {
  border: none;
}

.code-box #command-text button i {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

@keyframes expandText {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: calc(70vh - 80px - 16px);
    overflow-y: scroll;
  }
}

@keyframes expandHoverData {
  0% {
    height: 10rem;
    width: 0;
  }
  100% {
    height: 10rem;
    width: 10rem;
  }
}

@keyframes collapseHoverData {
  0% {
    height: 10rem;
    width: 10rem;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 10rem;
    opacity: 0;
  }
}

@keyframes expandWindow {
  0% {
    height: auto;
  }
  100% {
    height: 70vh;
  }
}

@media (max-width: 910px) {
  .code-box {
    padding: 15px;
    border-radius: 10px;
  }
  .code-box-top {
    padding-bottom: 15px;
  }
  .code-box-heading {
    font-weight: 500;
    font-size: 20px;
    display: inline;
  }
  .code-box-content {
    height: calc(67vh - 80px - 16px);
    max-height: 80vh;
  }
  .code-box-content p {
    line-height: 20px;
    font-size: 14px;
  }
  .code-box-content::-webkit-scrollbar {
    width: 0.6em;
  }
  .code-box #command-text {
    padding-top: 15px;
  }
  .code-box #command-text label {
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    flex-shrink: 1;
  }
  .code-box #command-text input[type="text"] {
    margin-right: 15px;
    font-size: 14px;
  }
  .code-box #command-text input[type="text"]:enabled, .code-box #command-text input[type="text"]:active, .code-box #command-text input[type="text"]:placeholder-shown {
    font-size: 14px;
  }
}

.social-icons {
  position: static;
  margin: 10px;
  animation: opacity cubic-bezier(0.87, 0.02, 0.49, 1.6) 0.7s;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, auto);
}

.social-icons-items {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  cursor: pointer;
}

.social-icons-items:hover {
  transform: translateY(-5px);
}

@media (max-width: 580px) {
  .social-icons {
    grid-template-columns: repeat(4, auto);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  position: absolute;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-text {
  margin-top: 20px;
  max-width: 200px;
  text-align: center;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #e96443, #904e95);
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.noSelect {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
  justify-content: space-around;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-repeat: no-repeat;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 1em;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100px;
}

html::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-track-piece {
  background-color: black;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#e96443, #904e95);
  border-radius: 100px;
}

html::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:visited {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::selection {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (max-width: 910px) {
  body,
  html {
    overflow-y: auto;
  }
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    width: 0.5em;
  }
  body::-webkit-scrollbar-track,
  html::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }
  body::-webkit-scrollbar-track-piece,
  html::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 100px;
  }
}

button,
button:active,
button:visited,
button:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */