.project-item {
  padding: 40px;
  width: 85%;
  max-width: 1300px;
  height: 80%;
  max-height: 700px;
  margin: 0 20px;
  display: flex;
  font-size: 19px;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right top, #194189 0%, #3b4980 25%, #8738a7 100%);
  border-radius: 30px;
  transition: all 1s ease-in-out;
  backdrop-filter: blur(40px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.project-item--category {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 20px;
}

.project-item--content {
  padding-right: 40px;
  width: 45%;
  vertical-align: middle;
}

.project-item--content-title {
  transform: translateZ(500px);
  font-size: 80px;
  line-height: 1.1;
}

.project-item--content-title span.headline {
  display: block;
  color: #c48cfc;
}

.project-item--content-desc {
  padding-top: 30px;
  letter-spacing: 0.75px;
  font-size: 19px;
}

.project-item--content-desc i {
  padding: 0;
  margin: 0;
}

.project-item--image {
  position: absolute;
  width: 70%;
  right: -15%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  z-index: -5;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
}

.project-item--link-list {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.project-item--link-list-item {
  border: solid 2px white;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  backdrop-filter: blur(20px);
  vertical-align: middle;
}

.project-item--link-list-item:not(:last-child) {
  margin-right: 20px;
}

.project-item:hover .project-item--image {
  transform: translateX(-5%) scale(1.01);
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
}

.project-item[data-small="true"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item[data-small="true"]:not(:last-child) {
  margin-right: 20px;
}

.project-item[data-small="true"] .project-item--category {
  align-self: flex-start;
  left: auto;
}

.project-item[data-small="true"] .project-item--content {
  padding-right: 0;
  text-align: center;
  width: 100%;
}

.project-item[data-small="true"] .project-item--content-title span {
  text-align: center;
}

.project-item[data-small="true"] .project-item--image {
  position: absolute;
  width: 80%;
  height: auto;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(5px -5px 15px rgba(0, 0, 0, 0.2));
}

.project-item[data-small="true"]:hover .project-item--image {
  transform: translate(-50%, -12%) scale(1.05);
}

.project-item[data-right="true"] {
  justify-content: flex-end;
}

.project-item[data-right="true"] .project-item--content {
  padding-right: 0;
}

.project-item[data-right="true"] .project-item--image {
  left: -15%;
  filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.2));
}

.project-item[data-right="true"]--link-list {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.project-item[data-right="true"]--link-list-item {
  border: solid 2px white;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  z-index: 10;
  backdrop-filter: blur(20px);
}

.project-item[data-right="true"]--link-list-item:not(:last-child) {
  margin-right: 20px;
}

.project-item[data-right="true"] .project-item--link-list {
  position: absolute;
  bottom: 40px;
  color: white;
  z-index: 1;
  display: flex;
}

.project-item[data-right="true"] .project-item--link-list-item {
  border: solid 2px white;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  z-index: 10;
  backdrop-filter: blur(20px);
}

.project-item[data-right="true"] .project-item--link-list-item:not(:last-child) {
  margin-right: 20px;
}

.project-item[data-right="true"]:hover .project-item--image {
  transform: translateX(5%) scale(1.01);
}
/*# sourceMappingURL=projectTile.css.map */