* {
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

@media (max-width: 910px) {
  h1 {
    font-size: 25px;
    padding-bottom: 20px;
  }
}

.special {
  background: $main-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
