* {
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  line-height: 90px;
}

.special {
  background: $main-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
