.contents {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  flex: 1;
  height: 100%;
  position: relative;
  max-width: 500px;
}
