.project-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  width: 100vw;
}

.project-category__card {
  //   border: 1px white solid;
  padding: 20px;
  //   overflow: hidden;
  height: 300px;
  width: 300px;
  position: relative;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  animation-duration: 0.7s;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &--link {
    font-size: 30px;
    position: absolute;
    right: -10px;
    top: 10px;
    opacity: 0;
    // background-color: black;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.7s $curve;
    & i {
      padding: 0;
      margin: 0;
      line-height: 1;
      text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.671);
    }
  }

  &--image {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.788);
    margin-bottom: 10px;
    transition: all 0.7s $curve;

    &:hover {
      transform: translate3d(100, 2000, 300);
    }
  }

  &--desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    &-number {
      height: 30px;
      width: 30px;
      padding: 15px;
      border-radius: 15px;
      background-color: lightgreen;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      h3 {
        color: black;
        font-size: 24px;
        vertical-align: middle;
      }
    }
  }

  &::after {
    content: "";
    height: 90%;
    width: 90%;
    opacity: 0.4;
    background: linear-gradient(to right top, black, transparent);
    border-radius: 25px;
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    z-index: -1;
    contain: strict;
    transition: all 0.7s $curve;
  }

  &:hover {
    .project-category__card--link {
      top: 30px;
      right: 30px;
      opacity: 1;
    }

    .project-category__card--image {
      transform: translate3d(10, 2000, 30);
    }

    &::after {
      opacity: 1;
      height: 100%;
      background-color: black;
      width: 100%;
      bottom: 0;
      right: 0;
    }
  }
}
