.code-box {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  width: 75vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05),
    10px 10px 30px rgba(0, 0, 0, 0.808);

  &-top {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-heading {
    font-weight: 600;
    font-size: 23px;
    display: inline;
  }

  &-window-button {
    &--1 {
      color: rgb(255, 224, 86);
    }

    &--2 {
      color: rgb(146, 255, 96);
    }

    &--3 {
      color: rgb(255, 44, 79);
    }
  }

  &-content {
    width: 75vw;
    height: auto;
    height: calc(65vh - 80px - 16px);
    max-height: 80vh;
    overflow-y: scroll;
    animation-name: expandText;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: $curve;

    p {
      font-family: "Source Code Pro", monospace;
      line-height: 23px;
      .green {
        color: rgb(168, 255, 86);
        font: inherit;
      }

      .yellow {
        color: rgb(255, 252, 86);
        font: inherit;
      }

      .hoverable {
        position: relative;
      }

      .hoverData {
        position: absolute;
        // top: -100%;
        // left: 110%;
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        background: url("../assets/ld/ld.gif"), $main-gradient;
        background-position: center;
        background-size: contain;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: $item-shadow;

        animation-name: expandHoverData;
        animation-iteration-count: 1;
        animation-duration: 0.4s;
        animation-timing-function: $curve;
      }

      a {
        font: inherit;
        font-weight: 500;
        color: white;
        &:hover {
          text-decoration: underline;
          text-decoration-color: white;
          color: white;
        }

        &:active,
        &:visited {
          color: white;
        }
      }

      i {
        font: inherit;
        color: white;
      }
    }

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track-piece {
      visibility: hidden;
      opacity: 0;
    }
    &::-webkit-scrollbar-track {
      visibility: hidden;
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient($first-color, $second-color);
      border-radius: 100px;
    }

    &::-webkit-scrollbar-corner {
      visibility: hidden;
      opacity: 0;
    }

    &::selection {
      background-color: white;
      color: black;
      caret-color: rgb(168, 255, 86);
    }
  }

  #command-text {
    padding-top: 20px;
    display: flex;
    align-items: stretch;
    width: inherit;

    label {
      font-family: "Source Code Pro", monospace;
      line-height: 23px;
      margin-right: 20px;
    }

    input[type="text"] {
      flex-grow: 1;
      background-color: transparent;
      color: white;
      border: none;
      margin-right: 20px;
      padding: 0;

      font-family: "Source Code Pro", monospace;
      line-height: 23px;

      &:enabled,
      &:active,
      &:placeholder-shown {
        font-family: "Source Code Pro", monospace;
        line-height: 23px;
        font-size: 16px;
        border: none;
        color: white;
        outline: none;
        background: transparent;
      }
    }

    button {
      padding: 0;
      border: none;
      color: white;
      background-color: transparent;
      &:hover,
      &:active {
        border: none;
      }
      i {
        font-size: 24px;
        padding: 0;
        margin: 0;
        color: white;
        background-color: transparent;
      }
    }
  }
}

@keyframes expandText {
  0% {
    height: 0;
    overflow: hidden;
  }

  100% {
    height: calc(70vh - 80px - 16px);
    overflow-y: scroll;
  }
}

@keyframes expandHoverData {
  0% {
    height: 10rem;
    width: 0;
  }

  100% {
    height: 10rem;
    width: 10rem;
  }
}

@keyframes collapseHoverData {
  0% {
    height: 10rem;
    width: 10rem;
    opacity: 1;
  }

  100% {
    width: 0;
    height: 10rem;
    opacity: 0;
  }
}

@keyframes expandWindow {
  0% {
    height: auto;
  }

  100% {
    height: 70vh;
  }
}

@media (max-width: 910px) {
  .code-box {
    padding: 15px;
    border-radius: 10px;

    &-top {
      padding-bottom: 15px;
    }

    &-heading {
      font-weight: 500;
      font-size: 20px;
      display: inline;
    }

    &-content {
      height: calc(67vh - 80px - 16px);
      max-height: 80vh;

      p {
        line-height: 20px;
        font-size: 14px;
      }

      &::-webkit-scrollbar {
        width: 0.6em;
      }
    }

    #command-text {
      padding-top: 15px;

      label {
        font-family: "Source Code Pro", monospace;
        font-size: 14px;
        flex-shrink: 1;
      }

      input[type="text"] {
        margin-right: 15px;
        font-size: 14px;

        &:enabled,
        &:active,
        &:placeholder-shown {
          font-size: 14px;
        }
      }
    }
  }
}
