.project-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: black;
  padding: 20px 30px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;

  &--welcome {
    font-family: "Playfair Display", serif;
    font-size: 4em;
    font-weight: 400;
    vertical-align: middle;
  }

  &--content {
    padding: 20px;
    font-family: "Source Code Pro", monospace;
    // line-height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7em;
    letter-spacing: 0.03rem;
  }

  &--exit-info {
    color: white;
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7em;
    letter-spacing: 0.03rem;
    border: solid 1px white;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:visited,
    &:active {
      border: none;
    }

    & .bx {
      font-size: 24px;
      color: inherit;
      padding-right: 10px;
      color: rgb(168, 255, 86);
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }
}
