.projects{
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &-text {
    width: 50%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      background-color: black;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: black;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient($first-color, $second-color);
      border-radius: 100px;
    }

    &::-webkit-scrollbar-corner {
      visibility: hidden;
    }

    &--heading {
      font-family: "Playfair Display", serif;
      font-size: 4em;
      font-weight: 400;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & .bx {
        font-size: 2rem;
        margin-left: 20px;

        color: rgba(255, 255, 255, 0.377);
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
    }

    &--content {
      font-family: "Source Code Pro", monospace;
      // line-height: 23px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.7em;
      letter-spacing: 0.03rem;
      color: rgba(255, 255, 255, 0.788);
    }

    &--sub_heading {
      font-family: "Playfair Display", serif;
      font-size: 2em;
      font-weight: 400;
      padding-bottom: 10px;
    }

    &--highlight {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.04rem;
      color: white;
    }

    &--buttons {
      display: flex;
      flex-direction: row;
      margin: 20px 0 30px;

      &_item {
        background-color: black;
        border: none;
        padding: 10px;
        color: white;
        font-family: "Source Code Pro", monospace;
        vertical-align: middle;
        border-radius: 10px;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
          5px 5px 15px rgba(0, 0, 0, 0.808);

        & .bx {
          font-size: 24px;
          color: inherit;
          padding-right: 10px;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  &-visual {
    background-image: url(../assets/ld/ld.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;

    &--image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05),
        10px 10px 30px rgba(0, 0, 0, 0.808);

      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(0.98);
        border-radius: 15px;
        box-shadow: none;
      }
    }
  }
}

@media (min-height: 1200px) {
  .project {
    align-items: flex-start;
    &-visual {
      height: 900px;
    }
  }
}

@media (max-width: 1190px) {
  .project {
    &-text {
      &::-webkit-scrollbar {
        width: 0.7em;
      }

      &--heading {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .project {
    width: 100%;
    display: block;
    padding: 0;
    overflow-y: visible;
    position: relative;

    &-text {
      margin: 0;
      margin-bottom: 10px;
      padding: 20px 60px;
      width: initial;
      height: auto;
    }

    &-visual {
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: auto;
      margin: 60px 0 20px;
    }
  }
}

@media (max-width: 450px) {
  .project {
    &-text {
      padding: 20px 30px;
    }
  }
}
