.social-icons {
  margin: 10px;
  animation: opacity $curve 0.7s;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, auto);

  &-items {
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 910px) {
  .social-icons {
    grid-template-columns: repeat(4, auto);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
